@model IEnumerable<EFSRTproyecto.Models.Categoria>

<p>
    @Html.ActionLink("Create New", "CrearCategoria")
</p>
<table class="table">
    <tr>      
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>       
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategoria", new { id = item.IdCategoria }, new { @class = "btn btn-info btn-sm" }) |
                @using (Html.BeginForm("EliminarCategorias", "Inventario", new { id = item.IdCategoria }, FormMethod.Post))
                {
                    <input type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar esta categoría?')" />
                }
            </td>
        </tr>
    }

</table>

<script>
   
</script>